@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*colore figo forse?*/

  :root {
    --background: 188 100% 95%;
    --foreground: 188 5% 0%;
    --card: 188 50% 90%;
    --card-foreground: 188 5% 10%;
    --popover: 188 100% 95%;
    --popover-foreground: 188 100% 0%;
    --primary: 188 100% 15.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 150 30% 85%;
    --muted-foreground: 188 5% 35%;
    --accent: 150 30% 80%;
    --accent-foreground: 188 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 188 5% 90%;
    --border: 188 30% 50%;
    --input: 188 30% 18%;
    --ring: 188 100% 15.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 188 50% 5%;
    --foreground: 188 5% 90%;
    --card: 188 50% 0%;
    --card-foreground: 188 5% 90%;
    --popover: 188 50% 5%;
    --popover-foreground: 188 5% 90%;
    --primary: 188 100% 15.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 188 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 150 30% 15%;
    --muted-foreground: 188 5% 60%;
    --accent: 150 30% 15%;
    --accent-foreground: 188 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 188 5% 90%;
    --border: 188 30% 18%;
    --input: 188 30% 18%;
    --ring: 188 100% 15.1%;
    --radius: 0.5rem;
  }

  
:root  {
    --background: 338 100% 95%;
    --foreground: 338 5% 0%;
    --card: 338 50% 90%;
    --card-foreground: 338 5% 10%;
    --popover: 338 100% 95%;
    --popover-foreground: 338 100% 0%;
    --primary: 338 77.8% 47.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 338 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 300 30% 85%;
    --muted-foreground: 338 5% 35%;
    --accent: 300 30% 80%;
    --accent-foreground: 338 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 338 5% 90%;
    --border: 338 30% 50%;
    --input: 338 30% 18%;
    --ring: 338 77.8% 47.6%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 338 50% 5%;
    --foreground: 338 5% 90%;
    --card: 338 50% 0%;
    --card-foreground: 338 5% 90%;
    --popover: 338 50% 5%;
    --popover-foreground: 338 5% 90%;
    --primary: 338 77.8% 47.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 338 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 300 30% 15%;
    --muted-foreground: 338 5% 60%;
    --accent: 300 30% 15%;
    --accent-foreground: 338 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 338 5% 90%;
    --border: 338 30% 18%;
    --input: 338 30% 18%;
    --ring: 338 77.8% 47.6%;
    --radius: 0.5rem;
  }
  

  /*
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }*/
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
